################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/AzureDevopsWorkItemsRestPowershell/v15
/PrivateData.ps1
/GetActiveTeamPBIs.ps1
